.twitter-typeahead{ float:left; width:100%}

.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 1px solid #c2e1f5;
    width: 500px;
    padding-left: 10px;
    float: left;
    margin: 5px 0 5px 0;
    color: #ddf8c6;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.arrow_box:after, .arrow_box:before {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 5px;
    margin-top: -5px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-right-color: #c2e1f5;
    border-width: 8px;
    margin-top: -8px;
}

.arrow_box_left {
    position: relative;
    background: #d50435;
    border: 2px solid #c2e1f5;
    width:500px;
    float: right;
    margin: 5px 0 5px 0;         

    color: #ddf8c6;
    font-size: 22px;
    font-weight: bold;
    text-align: right;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    padding-right: 10px;

}
.arrow_box_left:after, .arrow_box_left:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_left:after {
    border-color: rgba(213, 4, 53, 0);
    border-left-color: #d50435;
    border-width: 5px;
    margin-top: -5px;
}
.arrow_box_left:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 8px;
    margin-top: -8px;
}

.jumbotron {
    background-color: #0c3e8e; /* Orange */
    color: #ffffff;
    padding-bottom: 4px;
    padding-top: 4px;
}

.navbar-fixed-bottom {

    margin-bottom: 10px;
}

.constantHeight{
    margin-bottom: 50px;
}